<form novalidate [formGroup]="filterForm" class="form">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Column Name</mat-label>
    <mat-select [formControl]="columnNameControl">
      <mat-option *ngFor="let column of columnOptions" [value]="column.value">{{column.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Operator</mat-label>
    <mat-select [formControl]="operatorControl">
      <mat-option *ngFor="let operator of operatorsOptions" [value]="operator.value">{{operator.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Value</mat-label>
    <input matInput [formControl]="valueControl">
  </mat-form-field>
 <!-- <div class="buttons">
    <button mat-button (click)="deleteFilter()">Delete</button>
    <button mat-button (click)="saveFilter()">Save</button>
  </div>-->
</form>
